<div fxLayout="row" fxLayoutGap="center">
  <div fxLayout="column" fxFlex="1000px">
    <form class="mt-60" #buscaForm="ngForm">
      <mat-card appearance="outlined" class="card">
        <mat-card-header>
          <mat-card-title>Pesquisa</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mt-20"> 
            <div fxLayout="column" fxFlex="600px" fxLayoutGap="10px">
              <mat-form-field appearance="outline" class="w-300 mr-20">
                <mat-label>Nome</mat-label>
                <input matInput [(ngModel)]="filtro.nome" placeholder="Ex. José" name="nome" required>               
              </mat-form-field>
              <mat-form-field appearance="outline" class="w-300 mr-20">
                <mat-label>Email</mat-label>
                <input matInput type="email" maxlength="256" placeholder="Ex. pat@example.com" [(ngModel)]="filtro.email" name="email" required>               
              </mat-form-field>                           
            </div>            
        </mat-card-content>
        <mat-card-actions>          
          <div fxLayout="column" class="ml-10" fxFlex="300px" fxLayoutGap="20px">
            <button mat-flat-button color="primary" type="submit" (click)="pesquisar()">
              <mat-icon fontIcon="search"></mat-icon>
              Pesquisar
            </button>                                  
          </div>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>

<div fxLayout="row" fxLayoutGap="center">
  {{clientes | json}}  
</div>
