.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

/* Structure */
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

a {
  text-decoration: none;
  position: center top;
  font-family: arial;
  font-style: normal;  
  font-weight: 900;  
}
