<mat-toolbar color="accent">
    <span>Menu ✅</span>&nbsp;
    <span class="spacer"></span> 
    <a routerLink="/">Home&nbsp;<mat-icon aria-hidden="false" aria-label="Home" fontIcon="home"></mat-icon></a>  &nbsp;
    <a routerLink="/consulta">Consulta&nbsp;<mat-icon aria-hidden="false" aria-label="Feed" fontIcon="feed"></mat-icon></a>  &nbsp;
    <a routerLink="/cadastro">Cadastro&nbsp;<mat-icon aria-hidden="false" aria-label="Add Comment" fontIcon="add_comment"></mat-icon></a>  &nbsp;  
  </mat-toolbar>
  <hr>
<router-outlet></router-outlet>