<div fxLayout="row" fxLayoutAlign="center center" class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Cadastro</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" required />
          <mat-error *ngIf="cadastroForm.get('nome').hasError('required')">
            Nome é obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required />
          <mat-error *ngIf="cadastroForm.get('email').hasError('required')">
            Email é obrigatório
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Cadastrar</button>
      </form>
    </mat-card-content>
  </mat-card>

</div>