<div fxLayout="row" fxLayoutAlign="center center" class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Cadastro</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #clientesFrm="">
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" name="nome" [(ngModel)]="cliente.nome" required />
          <mat-error *ngIf="cadastroForm.get('nome').hasError('required')">
            Nome é obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" name="email" [(ngModel)]="cliente.email" required />
          <mat-error *ngIf="cadastroForm.get('email').hasError('required')">
            Email é obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Telefone</mat-label>
          <input matInput formControlName="Telefone" name="telefone" [(ngModel)]="cliente.telefone" required />
          <mat-error *ngIf="cadastroForm.get('telefone').hasError('required')">
            telefone é obrigatório
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">
          <mat-icon fontIcon="save"></mat-icon>
          Cadastrar
        </button>
      </form>
    </mat-card-content>
  </mat-card>

</div>