<div>
  <div>
    <form class="mt-30" #clientesFrm="ngForm" (ngSubmit)="salvar()">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Dados Pessoais: </mat-card-title>
        </mat-card-header>
        <mat-card-content class="mt-40">
          <div>
            <div>
              <mat-form-field class="full-width">
                <mat-label>Nome: *</mat-label>
                <input
                  type="text"
                  [(ngModel)]="cliente.nome"
                  name="nome"
                  placeholder="Ex: José da Silva"
                  matInput
                />
              </mat-form-field>
            </div>
          </div>
          <div>
            <div>
              <mat-form-field class="full-width">
                <mat-label>Email: *</mat-label>
                <input
                  type="email"
                  [(ngModel)]="cliente.email"
                  name="email"
                  [email]="true"
                  placeholder="Digite seu email"
                  matInput
                />
              </mat-form-field>
            </div>
          </div>
          <div>
            <div>
              <mat-form-field class="full-width">
                <mat-label>Telefone: *</mat-label>
                <input
                  type="phone"
                  [(ngModel)]="cliente.telefone"
                  name="telefone"
                  mask="(99) 99999-9999"
                  [dropSpecialCharacters]="false"
                  [showMaskTyped]="true"
                  placeholder="Digite seu telefone"
                  matInput
                />
              </mat-form-field>
            </div>
          </div>
          <div>
            <div>
              <mat-form-field class="full-width">
                <mat-label>CEP: *</mat-label>
                <input
                  type="text"
                  [(ngModel)]="cliente.endereco!.cep"
                  mask="99999-999"
                  [dropSpecialCharacters]="false"
                  [showMaskTyped]="true"
                  name="cep"
                  placeholder="Digite seu CEP"
                  matInput
                  (blur)="buscarEndereco(cliente.endereco!.cep || '')"
                />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="full-width">
                <mat-label>Bairro *</mat-label>
                <input
                  type="text"
                  [(ngModel)]="cliente.endereco!.bairro"
                  name="bairro"
                  placeholder=""
                  [value]="cliente.endereco!.bairro"
                  matInput
                />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="full-width">
                <mat-label>Localidade *</mat-label>
                <input
                  type="text"
                  [(ngModel)]="cliente.endereco!.localidade"
                  name="localidade"
                  placeholder=""
                  [value]="cliente.endereco!.localidade"
                  matInput
                />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Toppings</mat-label>
                <mat-select [formControl]="toppings" multiple>
                  <mat-select-trigger>
                    {{toppings.value?.[0] || ''}}
                    @if ((toppings.value?.length || 0) > 1) {
                    <span class="example-additional-selection">
                      (+{{ (toppings.value?.length || 0) - 1 }}
                      {{ toppings.value?.length === 2 ? "other" : "others" }})
                    </span>
                    }
                  </mat-select-trigger>
                  @for (topping of toppingList; track topping) {
                  <mat-option [value]="topping">{{ topping }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary" type="submit" class="ml-5">
            <mat-icon fontIcon="save"></mat-icon>
            Salvar
          </button>
          <button mat-flat-button color="accent" type="reset" class="ml-5">
            <mat-icon fontIcon="backspace"></mat-icon>
            Limpar
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
